In [10]:
import numpy as np
import pandas as pd

In [11]:
#Load excel files
df_2022_mid = pd.read_excel('2022_mid_div_stat.xlsx')
df_2022_south = pd.read_excel('2022_south_div_stat.xlsx')
df_2022_finals = pd.read_excel('2022_finals_stat.xlsx')
df_2021_mid = pd.read_excel('2021_mid_div_stat.xlsx')
df_2021_south = pd.read_excel('2021_south_div_stat.xlsx')
df_2021_finals = pd.read_excel('2021_finals_stat.xlsx')
df_2020_mid = pd.read_excel('2020_mid_div_stat.xlsx')
df_2020_south = pd.read_excel('2020_south_div_stat.xlsx')
df_2020_finals = pd.read_excel('2022_finals_stat.xlsx')

In [12]:
df_2022_mid.shape

(734, 9)

In [13]:
df_2022_mid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   열1      734 non-null    object
 1   열2      734 non-null    object
 2   열3      734 non-null    object
 3   열4      734 non-null    object
 4   열5      734 non-null    object
 5   열6      734 non-null    object
 6   열7      734 non-null    object
 7   열8      734 non-null    object
 8   열9      734 non-null    object
dtypes: object(9)
memory usage: 51.7+ KB

In [14]:
df_2022_mid.head()

,열1,열2,열3,열4,열5,열6,열7,열8,열9
0,Matches,Scores,Assists,Rebounds,Steals,Blocks,2-pointers,3-pointers,Free_Throw
1,7,144,7,38,9,13,56,3,23
2,7,124,7,21,13,2,16,27,11
3,4,108,9,22,8,2,23,14,20
4,4,91,4,30,10,4,16,15,14

In [15]:
df_2022_mid.iloc[0]

열1       Matches
열2        Scores
열3       Assists
열4      Rebounds
열5        Steals
열6        Blocks
열7    2-pointers
열8    3-pointers
열9    Free_Throw
Name: 0, dtype: object

In [16]:
#Set Column Names
df_2022_mid.columns = df_2022_mid.iloc[0]
df_2022_south.columns = df_2022_south.iloc[0]
df_2022_finals.columns = df_2022_south.iloc[0]
df_2021_mid.columns = df_2021_mid.iloc[0]
df_2021_south.columns = df_2021_south.iloc[0]
df_2021_finals.columns = df_2021_finals.iloc[0]
df_2020_mid.columns = df_2020_mid.iloc[0]
df_2020_south.columns = df_2020_south.iloc[0]
df_2020_finals.columns = df_2020_finals.iloc[0]

In [17]:
#Delete the first rwo which was column names
df_2022_mid.drop(0, inplace=True)
df_2022_south.drop(0, inplace=True)
df_2022_finals.drop(0, inplace=True)
df_2021_mid.drop(0, inplace=True)
df_2021_south.drop(0, inplace=True)
df_2021_finals.drop(0, inplace=True)
df_2020_mid.drop(0, inplace=True)
df_2020_south.drop(0, inplace=True)
df_2020_finals.drop(0, inplace=True)

In [114]:
#Transfrom data types to integer for 
df_2022_mid = df_2022_mid.astype(int)
df_2022_south = df_2022_south.astype(int)
df_2022_finals = df_2022_finals.astype(int)
df_2021_mid = df_2021_mid.astype(int)
df_2021_south = df_2021_south.astype(int)
df_2021_finals = df_2021_finals.astype(int)
df_2020_mid = df_2020_mid.astype(int)
df_2020_south = df_2020_south.astype(int)
df_2020_finals = df_2020_finals.astype(int)

In [120]:
#Set index to 
# df_2022_mid = df_2022_mid.reset_index(drop=False)
# df_2022_south = df_2022_south.reset_index(drop=False)
# df_2022_finals = df_2022_finals.reset_index(drop=False)
# df_2021_mid = df_2021_mid.reset_index(drop=False)
# df_2021_south = df_2021_south.reset_index(drop=False)
# df_2021_fianls = df_2021_finals.reset_index(drop=False)
# df_2020_mid = df_2020_mid.reset_index(drop=False)
# df_2020_south = df_2020_south.reset_index(drop=False)
# df_2020_finals = df_2020_finals.reset_index(drop=False)

In [20]:
#Gathering DataFrame based on year
df_2022 = pd.concat([df_2022_mid, df_2022_south, df_2022_finals])
df_2021 = pd.concat([df_2021_mid, df_2021_south, df_2021_finals])
df_2020 = pd.concat([df_2020_mid, df_2020_south, df_2020_finals])
#df_2022 = pd.concat([df_2022_mid, df_2022_south, df_2022_finals], keys=['df_2022_mid', 'df_2022_south', 'div_2022_finals'])
#df_2021 = pd.concat([df_2021_mid, df_2021_south, df_2021_finals], keys=['df_2021_mid', 'df_2021_south', 'div_2021_finals'])
#df_2020 = pd.concat([df_2020_mid, df_2020_south, df_2020_finals], keys=['df_2020_mid', 'df_2020_south', 'div_2020_finals'])

In [21]:
#Gathering DataFrame based on divison
df_mid = pd.concat([df_2022_mid, df_2021_mid, df_2020_mid])
df_south = pd.concat([df_2022_south, df_2021_south, df_2020_south])

In [23]:
#Writing Excel files
df_2022_mid.to_excel('data/df_2022_mid.xlsx')
df_2022_south.to_excel('data/df_2022_south.xlsx')
df_2022_finals.to_excel('data/df_2022_finals.xlsx')
df_2021_mid.to_excel('data/df_2021_mid.xlsx')
df_2021_south.to_excel('data/df_2021_south.xlsx')
df_2021_finals.to_excel('data/df_2021_finals.xlsx')
df_2020_mid.to_excel('data/df_2020_mid.xlsx')
df_2020_south.to_excel('data/df_2020_south.xlsx')
df_2020_finals.to_excel('data/df_2020_finals.xlsx')
df_2022.to_excel('data/df_2022.xlsx')
df_2021.to_excel('data/df_2021.xlsx')
df_2020.to_excel('data/df_2020.xlsx')
df_mid.to_excel('data/df_mid.xlsx')
df_south.to_excel('data/df_south.xlsx')